/* about product ratingpro */
.img-fluid.product5-img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

a {

    text-decoration: none !important;
}
.market-place a {
    text-decoration: none;
}

/*site map */

.sitemap-box h5 {
    font-weight: 700;
    padding-bottom: 18px;
    font-size: 20px;
    line-height: 140%;
    text-align: left;
    padding-left: 38px;
}
.sitemap-box ul li a {
    font-size: 14px;
    line-height: 28px;
    color: #555;
}
.sitemap-box h6 {
    font-size: 15px;
    font-weight: 500;
}


.self-content img {
    width: 69px;
    display: block;
    margin: 0 auto;
}

/* profile Dashboard */

ul#myTab a {
    padding: 13px;
   
}
.nav-tabs {
    border-bottom: 1px solid #0a989c !important;
}
.dashboard div#myTabContent {
    padding: 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #0a989c #0a989c #fff !important;
}








/* profile page */
.list-group.list-group-flush i {
    margin: 7px;
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
}
.main-body img {
    width: 220px !important;
    height: auto;
}
/*project-details */
.Project-layout {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px;
    background-color: #fff;
}

.Project-layout img {
   padding: 30px 20px 0px 30px;
    width: 100%;
    height: auto;
}

.Project-Description {
    padding: 25px 26px 5px 10px;
}
.Project-Description-BSAS h3 {
    padding-left: 30px;
}

/*product-details */

.slider-content {
    padding-left: 30px;
}
.slider-content h2 {
    font-size: 3rem;
    text-align: left;
}
.related-products h6 {
    text-align: center;
    padding: 20px;
}
.related-products img {
    border-radius: 5px;
}
.mySlides {
    padding: 25px;
}
/*Sustainable-inner-design*/

.Sustainable-inner-design h6 {
    padding: 20px;
}
.Sustainable-inner-design img {
    border-radius: 10px;
}
.Sustainable-inner-design {
    margin-bottom: 20px;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
      margin: 10px;
}
.likes {
    display: inline-flex;
}
.likes p {
    position: relative;
    padding-left: 150px;
     font-weight: 500
}
.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px !important;
  border-radius: 50%;
}
.card-content {
    padding: 10px;
}

.card-content h6 {
    font-size: 13px;
    padding: 4px;
}





/*help-support inner-pages */
.inner-card .card-r:hover {
    background-color: #0a989c;
}









/*home such bar */
li.nav-item.dropdown span {
    font-size: 11px;
    border: 1px solid #0a989c;
    border-radius: 19px;
    padding: 7px;
    color: #0a989c;
}
#such-bar-home {
    position: relative;
    width: 30%;
    top: 25px;
    left: 30px;
}
#such-bar-home {
    display: none;
}





/*Knowledge-lab page*/
.Knowledge-lab{
       background-image: url(../images/lab.jpg);
   height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.Knowledge-lab h2 {
    padding-top: 30px;
    color: #fff;
}

.Knowledge-lab .patner-trs {
    background-color: transparent !important;
    background: linear-gradient( 
180deg
 , rgb(136 133 148 / 73%) 0%, rgb(14 5 58 / 61%) 100%) !important;
    height: 350px;
    padding: 37px 0px;
}
.lab {
    padding: 20px;
}
.lab h2 {
    text-align: left;
    padding: 0px;
    /* margin: 0px; */
}
.lab p{
   padding: 0px !important;
    margin: 0px !important;
}
.lab-card-content {
    padding: 20px;
}
/*Resources */

.Resources {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px;
    background-color: #fff;
    padding: 15px;
}
.Resources h5{
    text-align:left;
}

.Resources .card-r {
    padding: 14px;
    text-align: center;
}
.Resources .card-r img{
    margin-bottom:3px;
}




/*beyond-business page */
input#payment {
    width: 100%;
    border: 1px solid #ccc;
}

.beyond-text-section2.pro {
    padding: 20px;
    height: 100%;
    background-color: #91969B;
}
.beyond-text-section2.rating {
    height: 100%;
    background-color: #619819;
    padding: 15px;
}

.row.beyond-business-layout2 h2 {
    padding: 0px;
}
.beyond-text-section2 {
    background-color: #18A6A8;
    padding: 15px;
}
.beyond-text-section2 h2 {
    text-align: left;
    padding: 15px;
    font-weight: 500;
    font-size: 2.5rem;
    color: #fff;
}
.beyond-text-section2 p {
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}





/*Green Building page */
.Nature-banner.inner-page.green {
    padding-top: 1px;
}
.green-building{
     background-image: url(../images/buliding-rating.png);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.green-building  {
    height: 250px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
   
}

.green-rating .card {
    padding: 20px;
    text-align: justify;
}

.green-building h2 {
   color: #fff;
    padding-top: 50px;
}





/*bsas rating sytem */
form.email-form input {
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    background-color: aliceblue;
}
.basa-rating{
     background-image: url(../images/bsasrating.jpeg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.basa-rating .patner-trs {
    height: 250px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
   
}

.basa-rating  h2 {
    color: #fff;
     padding: 0px;
}
.img-1 img {
    
    width: 125px;
        display: block;
    margin: 0 auto;
}
.img-2 img {
    width:125px;
        display: block;
    margin: 0 auto;
}
.img-3 img {
    width:125px;
        display: block;
    margin: 0 auto;
}
.img-4 img {
    width: 125px;
        display: block;
    margin: 0 auto;
}
.img-5 img {
    width: 125px;
        display: block;
    margin: 0 auto;
}
.img-6 img {
    width: 125px;
        display: block;
    margin: 0 auto;
}

/*why green page */
.why-green{
      background-image: url(../images/why-green.jpg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.why-green .patner-trs {
    height: 250px;
    color: #fff;
}
.why-green h2 {
    color: #fff;
     padding: 0px;
}
.why-green p {
    font-size: 20px;
    font-weight: 500;
    padding: 0px;
}
/*drop down home page */
ul.dropdown-menu.Services {
    position: absolute;
    top: 125px;
    border-radius: 0px;
     width: 100% !important;
}
ul.dropdown-menu.normal{
     position: absolute;
    top: 125px;
    border-radius: 0px;
     width: 100% !important;
}
.banner-text a {
  
    text-decoration: none;
}
ul.dropdown-menu.normal li {
   
    color: #ccc;
    font-weight: 400;
}
ul.dropdown-menu.Services li {
   
    color: #ccc;
    font-weight: 400;
    font-size: 14px;
}
ul.dropdown-menu.Services ul {
    height: 500px;
    overflow-y: scroll;
}
ul.dropdown-menu.Services h6 {
    color: #4F8478;
}
ul.dropdown-menu.normal h6 {
    color: #4F8478;
}





/*self certifaction page */
.self .section-title.p-tb-20.text-center {
       font-size: 2.5rem;
    /* color: #fff; */
    background-color: #dad6d6;
}
.self-content {
    margin: 10px;
}
.self-content .card{
    padding:15px;
}
.self-icons img {
    width: 100px;
}
.productrating-layout.self {
    background-image: url(../images/smartpro-products.jpeg);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.self .patner-trs {
    background-color: transparent !important;
    background: linear-gradient( 
180deg
 , rgba(17, 7, 59, 0.7254901960784313) 0%, rgba(16, 8, 58, 0.611764705882353) 100%) !important;
    height: 350px;
    padding: 70px 0px;
}
/*form */
select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
        outline: none;
}
.form-page {
    padding: 25px;
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px;
    background-color:#FCFCFC;
}
input[type="radio"] {
    /* padding: 4px; */
    margin: 6px;
}
.form-page.mb-4 label {
    font-size: 13px;
}
input#agree {
    margin: 10px;
    /* color: red; */
}

.form-page h4 {
    text-align: left;
    font-weight: 500;
    color: #097A7D;
}
input#start {
    width: 100%;
}



/*Sustainability*/

ul.nav.nav-tabs.flex-column li {
    margin: 5px;
    padding: 10px;
    
}
/*ul.dropdown-menu.Services {*/
/*    position: absolute;*/
/*    top: 41px;*/
/*    width: 100% !important;*/
/*    font-size: 13px ;*/
/*}*/

.tittle h5 {
   padding-top: 20px;
   font-weight: bold;
    font-size: 15px;
    border-top: 1px #ccc solid;
    
}
/*hire middle east */
.profile img {
    width: 75px;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 0px;
    margin: 10px;
}

.profile-content {
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 5px;
}
.middle-layout h5 {
   text-align: left;
   
    padding-left: 13px;
   
}
.card img {
    transition: 2s;
}
.card:hover {
    background-color: #097679 !important;
    
    
}
.row.mb-4.help-section-s .card:hover {
    transform: scale(1.1);
}
.card-r img{
    width:100%;
}
.card-r {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px !important;
    background-color: #fff;
}
.card img:hover {
    transform: scale(1.1);
  
    background-color: #fff;
    border-radius: 50% ;
    padding: 5px !important;
    margin-bottom: 10px !important;
}
.boxes img:hover {
     transform: scale(1.1);
  
    background-color: #fff;
    border-radius: 50% ;
    padding: 5px !important;
    margin-bottom: 10px !important;
}
.profile-content h6 {
    font-size: 13px;
    font-weight: 500;
}
.middle-layout .d-flex p {
    position: relative;
    top: 16px;
    text-align: center;
    margin: 5px;
    padding-left: 20px;
}
.middle-layout .card-body ul {
   margin: 0px;
    padding: 3px;
    border-top: 1px solid #ccc;
}
.middle-layout .card-body ul li {
    list-style: none;
    display: inline-flex;
    background-color: aliceblue;
    padding: 10px;
    font-size: 13px;
    margin: 5px;
    border-radius: 10px;
}


/*help &support */
.help-section-t a:hover {
    color: #fff !important;
}

.help-layout-2{
 background-color: aliceblue;   
}
.help-layout-1{
    background-color: antiquewhite;
}



.help-section-t .card {
   margin-bottom: 30px;
    padding: 20px;
    text-align: center;
}
.help-section-t img {
    width: 100px;
    display: block;
    margin: 0 auto;
        padding-bottom: 20px;
}
.help-section p {
    text-align: center;
    padding: 10px;
}
.help-section {
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
}
.help-section span {
    color: #0ae20a;
    font-size: medium;
}
.card.Client {
    background-color: #71ADE6 !important;
}
.card.Manufacturer {
    background-color: #A0EBC2 !important;
}
.card.specialist {

    background-color: #F8ECEC !important;
}
.help-section-s .card {
    padding: 10px;
    transition: 2s;
}


.card.owner {
    background-color: #EAC196 !important;
}
/* articles */
.articles {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px !important;
    margin: 20px;
}
.articles-btn {
    padding-top: 30px;
    border-right: 1px solid #ccc;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #39a6d8 !important;
 
}
#v-pills-tab button{
    transform: scale(1.0);
}
.articles-btn img {
    padding-top: 32px;
}
.articles .col-md-8 {
    background-color: #F9EFEC;
}
/*how-find-work */
.hire-text-learn {
    padding: 100px;
}

/* Talent-Marketplace */
.talent-market-btn button {
    margin: 6px;
}

.Green .card {
    width: 170px !important;
    padding: 20px;
    margin: 5px;
    font-size: 7px;
}


.market-world-banner{
     
  background-color: #D5D5D5;
}
.img img {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 35px;
}
.hire-world-banner-content.overlay {
    position: absolute;
    top: 55px;
    display: block;
    /* margin: 0 auto; */
    left: 19%;
    color: #000;
}
/* gcc-world-banne */
.gcc-world-banner{
      background-image: url(../images/gcc.jpg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

/*find-world-banner */
.find-world-banner{
     background-image: url(../images/Freelance.jpeg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.find-world-banner-content{
    text-align: center;
    padding-top: 60px;
    color: #000;
}
/*hire-world*/
.hire-world-banner{
     background-image: url(../images/world-1.jpg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.hire-world-banner-content{
    text-align: center;
    padding-top: 60px;
    color: #fff;
}
.hire-world-text {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px !important;
    background-color: #fff !important;
   
    padding: 20px;
}
.section-title.h2 {
    text-align: left;
}

/*hire page */
.hire-section{
   
}
.hire-img-layout img {
    width: 100%;
    height: 100%;
}
.hire {
    background-color: antiquewhite;
}
.hire-text {
    padding: 60px;
}
.hire-text h1, p, button {
    padding-bottom: 5px;
}
.hire-text-section2 {
    padding: 20px;
    text-align: center;
}
/*careers*/
.careers{
      background-image: url(../images/careers.jpg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.careers-banner {
    text-align: center;
    padding-top: 60px;
    color: #000;
}
.card.teams-content {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.img-fluid.careers-img {
    width: 300px;
    display: block;
    margin: 0 auto;
}
label {
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}
.careers-from .user-form {
    padding: 10px;
}
.careers-from {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px;
    background-color: #fff;
    
}
.careers-join {
    padding-top: 100px;
}
/*Investor-page*/
.Investor-banner{
     background-image: url(../images/Investor.jpg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.Investor-banner-content{

    position: absolute;
    color: #0a989c;
    right: 150px;
  
    padding-top: 6rem;
    text-align: center;
 

}





/*trust-safety */
.trust-safety{
     background-image: url(../images/trust-safety.jpg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
.trust-safety-banner {
    position: absolute;
    color: #fff;
    right: 150px;
    /* bottom: -8px; */
    padding-top: 30px;
    text-align: center;
}
.trust-safety-section-2{
      background-image: url(../images/trust-safety2.jpg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.trust-safety-section-3{
      background-image: url(../images/trust-safety3.jpg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
/*patner-shop-layout*/
.patner-shop-layout{
       background-image: url(../images/Partenships.jpeg);
   height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.patner-trs{
    background-color: transparent !important;
    background: linear-gradient(
180deg
, rgba(17, 7, 59, 0.7254901960784313) 0%, rgba(16, 8, 58, 0.611764705882353) 100%) !important;
    height: 500px;
    padding: 70px 0px;
}
.patner-content {
    color: #fff;
    /* text-align: end; */
    position: absolute;
    right: 100px;
}

.title-divider {
    display: none !important;
}
.profile-clients button {
    background-color: #aa7b79 !important;
    border-color: #aa7b79 !important;
}
.contact-layout-card:hover {
    background-color: #097679 !important;
}


/*product rating page */

.productrating-layout{
 background-image: url(../images/smartpro-products.jpeg);
   height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}
.rating-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 40%;
}
.productrating-content {
    padding-top: 100px;
}
.product4-img {
    width: 350px;
    padding: 20px;
    margin: 0 auto;
}
.press-container {
    padding: 15px;
}
.press-content {
    padding: 15px;
}
.productrating-layout2{
     background-image: url(../images/product-rating-3.jpg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.productrating-card {
    padding: 20px;
}

.productrating-card h4 {
    text-align: center;
    padding: 10px;
}
.productrating-card:hover {
    background-color:  #097679 !important;
}

.productrating-card button {
    display: block;
    margin: 0 auto;
    /* background-color: #da2a46; */
   
}
.market-points h5 {
    text-align: left;
}
/*bsw page */
.bmd-layout img {
    width: 100px;
}
.bsw-layout-banner{
  background-image: url(../images/BSL-system.jpeg);
   height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
       
}
.bsw-layout-content {
    position: absolute;
    right: 150px;
     padding-top: 40px; 
    color: #fff;
    /* top: 50px; */
   
}
.bmd-layout {
    text-align: justify;
}

.bmd-layout h5{
    text-align:left;
}
.pt-4.create-service button {
     background-color: #aa7b79;
    border-color: #aa7b79;
}


.btn-primary {
    color: #fff;
    background-color: #0A989C !important;
    border-color: #0A989C !important;
    transition: 2s !important;
   padding: 4px 25px 4px 25px !important;
}
.btn-primary :hover{
     background-color: #0A989C !important;
    border-color: #0A989C !important;
    
}
.btn-check:active+.btn-outline-success, .btn-check:checked+.btn-outline-success, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show, .btn-outline-success:active {
    color: #fff;
    background-color: #0A989C !important;
    border-color: #0A989C !important;
    border-radius: 12px !important;
}

/*contact page */
.card.contact-layout-card {
    text-align: center;
}
.card.contact-layout-card img {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 15px;
     transition: 2s ease-in;
}
.card.contact-layout-card img:hover{
       transform: scale(1.1);
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
      display: block;
   
    text-align: center;

}
ul.breadcrumb li {
  display: inline;
      font-size: 18px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color:#08777A;
}
ul.breadcrumb a {
    color: #fff !important;
}
/*ul.breadcrumb li+li:before {*/
/*  padding: 8px;*/
/*  color: black;*/
/*  content: "/\00a0";*/
/*}*/
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none !important;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.contact-layout-card {
   padding: 15px;
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px !important;
  
}
h2.about-section-title {
    text-align: left;
    padding: 20px;
}
ul.contact-add li {
    list-style: none;
}
/*sign in page */
.user-area.log-in-area {
    margin-top: 100px;
    margin-bottom: 50px;
}
.sign-layout{
    display: block;
    margin: 0 auto;
    width: 500px !important;
    padding: 25px;
  box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px;
    background-color: #fff;
}
.sign-layout img {
    height: auto;
    width: 200px;
}

.sign-layout a {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}
.service-p {
  
    padding: 20px;
}
.text-color-orange {
    color: #e74723 !important;
   
   font-size: 16px;
}
.text-color-blue {
    color: #172f50 !important;
    font-weight: 500;
}
.sign-layout  span {
    /* color: #1a2e50; */
    font-weight: 500;
}
.form-group {
    margin: 15px;
}
.sign-layout label {
    font-size: 18px;
    padding: 5px;
    font-weight: 500;
       
}
.product-content.pt-5.text-center {
    padding-top: 180px !important;
}

/*about-page*/
.box-content img {
    display: block;
    width: 60px !important;
    margin: 0 auto;
     transition: 2s;
}
.product-content img {
    width: 60%;
    height: auto;
}
.services-box {
    padding: 15px;
    text-align: left;
}
.services-box p {
    text-align: justify !important;
}
about-section-title{
     line-height:30px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 0px;
    color: #282828;
}
section.section-about {
    background-color: aliceblue;
    padding: 0px;
}
.section-about img {
    width: 100%;
    height: auto;
}

   .boxes {
    display: inline-flex;
    padding: 10px;
    margin: 5px;
   
}

.box-img img {
    width: 100%;
}
.core-section {
    padding: 20px;
}
.box-content:hover {
    background-color: #097679;
 
}
.box-content {
       width: 290px;
    padding: 7px;
    display: block;
    margin: 0 auto;
   box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px !important;
    background-color:#fff;
    margin: 6px;
}
.box-content i {
   
 
    font-size: 30px;
    /* padding-bottom: 11px !important; */
}
.box-content i:hover{
        transform: none;
}

  .core-section .section-title {
   line-height: 50px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    color: #282828;

}
/* inner pages */
button a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}
table th, tr td {
    border: 1px solid;
    text-align: center;
    padding: 5px;
}
span{
    color: blue;
    font-size: larger;
}
.contact {
    padding: 10px;
    border-left: 3px solid #184d47;
}
.contact button {
    margin-bottom: 15px;
}
.Nature-banner.inner-page a {
    text-decoration: none;
    padding: 1px;
}
.footer-links li a {
    padding: 8px !important;
}
.footer-content a {
    text-decoration: none;
    color:#b1adad;
}
.dash{
    text-align: center;
  
    padding-top: 12px;
}
.contact a {
    text-decoration: none;
}
.Nature-banner.inner-page {
    background-color: #fff;
  padding-top: 30px;
}

/* terms & services */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}


.content {
    position:relative;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  bottom: 10px;
  border-radius: 10px
}
.smart-list ul li {
    padding: 10px;
}
.collapsible-list button:hover {
    transform: scale(1.0);
    background-color: #ba644b;
}
.collapsible.active:after {
    content: "\2212";
}
.collapsible-list button {
border-radius: 10px !important;
    margin-bottom: 10px;
  
    color: #fff;
    background-color: #184d47;
    padding: 10px;
}



.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.title-divider {
    width: 80px !important;
    height: 2px;
    display: block;
    background-color: #6C6662;
    margin: 10px auto 20px;
    margin-top: 10px !important;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
.p-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-title {
    color: #222;
}
.section-title {
    line-height: 50px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0 20px 0;
    color: #282828;
}
.smart-list {
    padding:5px;
}
.list-items {
    border-right: 1px solid #ccc;
}

/*owal carousels*/
.owl-nav {
    float: right;
    position: absolute;
    right: 0px;
    /* padding: 10px; */
    /* margin: 10px; */
    /* bottom: 50px; */
    top: -50px;
    /* transition: none; */
}
button.owl-prev {
    margin: 15px;
}
.owl-nav i {
    transition: none;
}
/*header*/
#profile-header img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
  border: 1px solid #0a989c;
      padding: 5px;
    float: right;
    border-radius: 30px;
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content .triangle-up {
  position: absolute;
    left: 189px;
    top: -13px;
}



.dropdown-content li a {
    padding: 9px 0px 0px 0px;
    /* padding: 0px; */
}
.dropdown-content {
 position: absolute;
    z-index: 1;
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    background-color: #fff;
    top: 70px;
    right: 12px;
    width: 220px;
    display: none;
     
}

.dropdown-content a {
  color: black;
 
  text-decoration: none;
  display: block;
  
 
}






#CategoriesMenu {
  background-color: #fff;
    width: 100%;

    border-top: 1px solid #ccc;
    position: fixed;
    top: 80px;
    z-index: 999;
}
#CategoriesMenu {
   
    display: none;
}
.card {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px !important;
    background-color: #fff !important;
}
.inner-content .card {
    color: #222;
    padding: 15px;
}
.inner-content .card:hover {
    background-color: #c18e96 !important;
}
@media (min-width: 768px){
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: fixed !important;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 5px !important;
}

}
.navlist-items li {
    list-style: none;
    padding: 5px;
}


.navlist-items a {
    text-decoration: none;
    color: black;
  
}
a:hover {
    color: #3c903a !important;
}
.triangle-up {
    bottom: calc(94% - 10px);
    left: 43%;
    border-color: #c1b6b6 transparent transparent #bfb7b7;
    border-style: solid;
    border-width: 12px;
    width: 0;
    height: 0;
 
    position: absolute;
    /* left: 53%; */
    top: -13px;
   
    transform: rotate( 
45deg
 ) skew( 
-3deg
 , 
-3deg
 );
}
ul.dropdown-menu.Explore {
    width: 35% !important;
    left: 515px;
        box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    background-color:#fff;
}
.dropdown-menu {
    position: fixed;
    z-index: 1000;
    display: none;
  
    padding: 15px !important;
    margin: 0 auto !important;
    left: 0;
    top: 68px;
    width: 50% !important;
    right: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
nav.navbar.navbar-expand-md.navbar-light.fixed-top {
    background-color: transparent;
    /*transition: 0.7s ease-in;*/
}


li.nav-item {
   padding-left: 0.9rem !important;
    padding-right: 1.2rem !important;
}
.Services img {
     transition: 2s;
}
.logos img{
     transition: 2s;
}

.logos img:hover{
        transform: scale(1.1);
}
.Services img:hover{
   
}
.item {
   box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
  
    background-color: #fff;
    padding-bottom: 10px;
    height:260px;
}
.item img{
  
    padding: 0px;
}
.Manufacturers img {
     transition: 2s;
}


.Manufacturers img:hover{
        transform: scale(1.1);
}
.Professional img {
     transition: 2s;
}
.profile-clients img {
     transition: 2s;
}
.profile-clients img:hover{
        transform: scale(1.1);
}

.Professional img:hover{
        transform: scale(1.1);
}




body {
   
    font-family: 'Montserrat', sans-serif;
   
    overflow-x: hidden;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  
    border-bottom: 2px solid #026666;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #026666 !important;
}
nav.navbar.navbar-expand-md.navbar-light.fixed-top a {
    color: #222;
    font-weight: 400;
}
.navbar-light .navbar-nav .nav-link {
   
    font-weight: 400;
    font-size: 14px;
}
/*li.nav-item.dropdown a {*/
/*    font-size: 14px !important;*/
/*}*/
img.img-fluid.logo {
    width: 200px;
    height: auto;
}
#join {
    background-color: #0A989C;
   padding: 6px !important;
    color: #fff;
     border-radius: 5px;
}
li.nav-item.dropdown.explore a {
    font-size: 16px !important;
}
/*Banner */
.col-md-6 {
    padding: 0px !important;
}

.sticky {
  
  
background: #fff !important;
    height: 80px;

}
.banner-section{
    background-image: url('../images/Smart-city-banner.jpg'); 
  background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
}
.Nature-banner {
    margin-top: 58px;
    background-color: #184D47;
}
.smart {
  padding-top: 120px !important;
}

.banner.btns {
    display: inline-flex;
}
.banner.btns p {
    padding: 3px 18px 3px 18px;
    font-size: 13px;
    margin: 5px;
    border: 1px solid #0b999d;
    border-radius: 20px;
}
.banner-img img {
   
    width: 75%;
    display: block;
    margin: 0 auto;
}

/*second section */
button:hover {
    transform: scale(1.1);
    background-color: antiquewhite;
}
.h4, h4 {
    font-size: 1.3rem !important;
}
h2 {
    text-align: center;
   font-weight: 700 !important;
    
}
section{
    padding: 30px 0px;
}
.trusted {
       display: inline-flex;
    /* width: 200px; */
    height: auto;
    padding: 0px;
    margin: 8px;
  
}
.section-trusted {
    display: table;
    margin: 0 auto;
}
.logos img {
    width: 170px;
    padding: 20px;
}
/* Third section */
section.Services {
    background-color:  #D5FDFF;
}
/*Manufacturers section */
.market-place img {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}
.market-place {
    text-align: center;
    padding: 20px;
}
section.Manufacturers {
    background-color:  #D5FDFF;
}
.servicesimg {
    width: 100%;
}
/* 4th-section */
.talent-section {
    padding: 0px;
        background-color: #0b9a9e;
}
section.talent-section img {
    width: 100%;
}

section.great-work img {
    width: 100%;
    /* padding: 0px; */
    /* max-width: 100%; */
}

.content {
    padding: 20px;
}
.content a {
    text-decoration: none;
    color: black;
}
/* great-work section */
.great-work{
    background-color: #016867;
    padding: 0px;
}
.small-content h2 {
    text-align: left;
}
.small-content {
    padding: 35px;
   color: #fff;
}

/* stories section */
ul.links li {
    list-style: none;
    display: inline-flex;
   
    float:right;
    padding: 20px;
}
.links a{
    text-decoration: none;
}
.stories{
    background-color: #F1FDF7;
}
section.stories p, h5 {
    text-align: center;
    
}
section.work-your-way.text-center button:hover {
    background-color: antiquewhite;
    border-color: antiquewhite;
}
.profile-clients button:hover{
     background-color: antiquewhite !important;
    border-color: antiquewhite !important;
} 
section.products {
    background: #0a8e92;
    padding: 0px;
}
.product-content {
    padding: 50px 20px;
    color: #fff;
    text-align: center;
}
.rate {
 
    height: 46px;
    padding: 20px 13px;
 
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
    
}
.footer-section h5 {
    color: #ccc;
}
.footer-section p {
    color: #ccc;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.work-your-way.text-center {
    background-color: #AA7B79;
    color: #fff;
}
.create-service h5 {
    color: #BA8B51;
}
.create-service.content{
    color:#fff;
}
.create-service p {
    padding: 20px;
}
section.work-your-way.text-center button {
 background-color: #9a6462;
    border-color: #9a6462;
}
.profile-clients {
    background-color: #9A6462;
    text-align: center;
    padding: 30px 20px;
}
.profile-clients  a{
    text-decoration: none;
}
.profile-clients h2 {
    padding-top: 20px;
}
.profile-clients img {
    width: 100%;
}
/* Professional */
.Professional {
    background-color: #F9EBD8;
}
/* section.subscribe  */
section.subscribe {
    background: #EBEBEB;
    text-align: center;
}
.img-fluid.about-img {
    display: block;
    margin: 0 auto;
}
button {
    background-color:  #0A989C;
    padding: 10px 25px 10px 25px;
    border: 1px solid  #0A989C;
    transition: 2s;
 
    border-radius: 20px !important;
}
/* footer section */
.row.copyright a:hover {
    color: beige;
}
.footer-section a:hover {
    color: #fff;
}
.footer-content h4 {
    text-align: left;
    font-weight: 500;
    /* font-size: 51px; */
    padding-left: 32px;
}
section.footer-section {
    background-color:black;
   
}
section.footer-section p, h5 {
    text-align: center;
  
}
section.footer-section h2 {
    color:#fff;
}
.footer-content h4 {
    color: #D5FDFF;
}
.copyright {
    background-color: black;
    color: #fff;
    border-top: 1px solid #6f6d6d;
   
  
    
    
}

.copyright a {
    text-decoration: none;
    color: #fff;
    padding-left: 1rem;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

ul.footer-links {
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    border: none;
   
}
ul.footer-links li a {
    text-decoration: none;
    padding-left: 1rem;
    font-size: 18px;
}
.footer-links i {
    font-size: 18px;
    transition: transform .7s ease-in-out;
}
.footer-links i:hover {
    transform: rotate(
360deg
);
}
.footer-links i {
    /*background-color:#94B7B3;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*padding: 6px;*/
    /*border-radius: 40%;*/
    /* margin: 0 auto; */
    /*text-align: center;*/
}
.footer-content {
    padding-top: 40px;
    text-align: center;
}
.footer-content p {
    text-align: justify !important;
}
.footer-content ul li {
    list-style: none;
    text-align: left;
    padding: 3px;
}







.carousel-indicators [data-bs-target] {
    background-color: black !important;
}
/* ------testimonial  close-------*/
i.fab.fa-facebook {
    color: blue;
}
i.fab.fa-instagram {
    color: #de313b;
}
i.fab.fa-twitter {
    color: blue;
}
i.fab.fa-linkedin {
    color: rgb(71, 71, 233);
}
i.fab.fa-youtube {
    color: red;
}

button.btn.btn-outline-success {
    background-color:  #0A989C;
    color: #fff;
    transition: 2s;
 
    border-radius: 0px !important;
}
.banner-text h1 {
    font-size: 3rem;
    font-family: unset;
    font-weight: 700;
    color: #026666;
}
h1{
     font-size: 3rem;
   font-weight: 700;
    
}
.banner-text p {
    font-size: 20px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#main-wrapper {
    display: none;
}
@media (min-width: 320px) and (max-width: 480px) {

  .mobile-header h6 {
    padding-left: 14px;
}
.dropdown-menu a {
    font-size: 13px !important;
} 
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 18px !important;
}
  
  .mobile-header ul li {
    list-style: none;
    padding-left: 0px !important;
    margin: 0px !important;
}
  .mobile-header a {
    padding-left: 0px;
    /* margin: 0px; */
}
.mobile-header ul {
    padding: 0px;
}
  
  .Nature-banner.inner-page {
    background-color: #fff;
    padding-top: 0px;
}

.Nature-banner {
    margin-top: 0px;
    background-color: #184D47;
    padding: 0px;
}
    
    #main-wrapper {
    display: block;
    
}
#mobile-Dropdown {
       position: absolute;
    top: 40px;
    z-index: none;
    width: 241px !important;
    /* height: 200px; */
    padding: 5px !important;
    margin: 4px !important;
}
#mobile-header ul li {
    list-style: none;
}
.mobile-menu li a {
    /* list-style: none !important; */
    font-size: 14px;
    padding: 4px;
    margin: 0px;
}
 #main-wrapper a#join {
    padding: 20px 10px 10px 10px!important;
    margin: 12px;
}
.mobile-header {
    display: inline-flex;
}
   #main-wrapper  a.join {
   position: absolute;
    right: 19px;
    top: 25px;
    text-decoration: none;
    font-size: 22px;
    margin: 0 auto;
    font-weight: bold;
    color: #62646a;
} 
    /* The sidepanel menu */
.sidepanel {
  height:100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 7px 6px 7px 14px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight: 400;
}
.dropdown.custom:hover .dropdown-menu {
  visibility: visible;
  display:block;
  border-radius:0;

}
/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
     font-size: 30px;
    cursor: pointer;
    background-color: #ffff;
    color: #0b999d;
    /* padding: 3px 7px; */
    border: none;
    top: 4px;
    position: absolute;
}

.openbtn:hover {
  background-color: #ffff;
}
    
 .mobile-header img {
  display: block;
    margin: 0 auto;
    /* padding: 0px; */
    margin-left: 80px;
    padding: 12px;
    /* padding-left: 26px; */
    width: 180px !important;
}   
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*header */
    
    
    nav#header {
    display: none;
}
    
    div#CategoriesMenu {
    display: none !important;
}
.smart {
    padding-top: 30px !important;
  
        padding-left: 20px !important;
    padding-right: 20px !important;

}    
    
/* home page */

.products {
    background: #0a8e92;
    padding-bottom: 18px !important;
    padding-top: 0px !important;
}

.profile-clients {
    background-color: #9A6462;
    text-align: center;
    padding: 15px 12px;
}

.work-your-way.text-center {
    background-color: #AA7B79;
    color: #fff;
    padding: 15px 5px!important;
}

.item {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    padding-bottom: 10px;
    height: 100%;
}

.product-content.pt-5.text-center {
    padding-top: 22px !important;
}
    .product-content {
    padding: 40px 20px;
    color: #fff;
    text-align: center;
}
    
    
    
    
 .mobile-header .dropdown-menu {

   padding-left: 5px !important;
    width: 100% !important;
    margin-left: 10px !important;
   
}
.logos img {
    width: 130px;
     padding: 0px; 
}
    .trusted {
        display: block;
        width: 130px;
        height: auto;
        padding: 0px;
        margin:0 auto;
    }
    img {
        width: 100%;
    }
    .carousel-wrap {
   padding-top: 0px;
    margin-bottom: 20px;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 6px !important;
    font: inherit;
}
.owl-dots {
    display: none;
}
.owl-stage-outer {
    padding-top: 15px;
}

.owl-nav {
    float: right;
    position: absolute;
    right: 0px;
  display: inline-flex;
    top: -23px;
    /* transition: none; */
}
    .banner.btns p {
      padding: 4px 5px 6px 5px;
    font-size: 11px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    color: #212529;
    }
    .banner-img img {
        width: 100%;
        display: block;
        margin: 0 auto;
        padding-top: 49px;
    }
    section {
        padding: 1px 10px !important;
    }
    .talent-section .container {
        padding: 0px 0px;
    }
    .card {
        margin: 5px;
    }
    .small-content {
        padding: 20px 20px;
        color: #fff;
    }
    ul.links li {
        list-style: none;
        display: inline-flex;
        /* float: right; */
        padding: 0px;
        margin-left: 8px;
    }
    .profile-clients img {
        width: 100%;
      margin-bottom: 10px;
    }
    .footer-links {
           float: none !important;
  
    }
   
   html {
    overflow-x: hidden;
}
.banner-text h1 {
    font-size: 2rem;
    font-family: unset;
    font-weight: 700;
    color: #026666;
}

/*signin*/

.user-area.log-in-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer */
.footer-content {
    padding-top: 18px;
    text-align: center;
}
.footer-content ul {
    padding: 0px;
}
.footer-content h4 {
    padding-left: 0px; 
}
.dash {
    text-align: center;
    padding-top: 5px;
}
.footer-section h2 {
    color: #fff;
    padding: 10px;
}
/*how-to-hire */
.hire-text {
    padding: 10px 30px;
}
.section-title {
    line-height: 40px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #282828;
}

.hire-text-section2 {
    padding: 15px;
    text-align: center;
}
.row.mb-4 {
    padding: 0px 10px 0px 10px;
}
/*Talent-Marketplace*/
.hire-world-banner-content.overlay button {
    display: inline-flex;
}
.hire-world-banner-content.overlay {
    position: absolute;
    top: 37px;
    display: block;
    /* margin: 0 auto; */
    left: 7%;
    color: #000;
}
.market-world-banner h1 {
    font-size: 20px;
}
.market-world-banner p {
      font-size: 13px;
    color: #fff;
   
    margin: 5px;
}
.Green .card {
    width: 160px !important;
    padding: 7px;
    margin: 3px;
    font-size: 7px;
}
button {
    background-color: #0A989C;
    padding: 8px 20px 8px 20px;
    border: 1px solid #0A989C;
    transition: 2s;
    border-radius: 10px !important;
    display: block;
    margin: 0 auto !important;
}
   
   /*self-certification*/
   
  ul.breadcrumb {
    padding: 0px 0px;
    list-style: none;
    display: grid;
    /* text-align: center; */
    /* margin: 0 auto; */
    justify-items: center;
} 
   
   .self-icons img {
    width: 100px;
    display: block;
    margin: 0 auto;
}
   .self-icons h4 {
    text-align: center;
}
 /*why-green-building  */
   .why-green p {
    font-size: 15px;
    font-weight: 500;
    padding: 0px;
}
   /*property-resources*/
   .Resources .card-r {
    padding: 14px;
    text-align: center;
    margin: 8px;
}
.Resources .card-r p {
    padding-top: 10px;
}
   .Resources {
    padding-bottom: 20px !important;
}
   /*hire-world*/
  .hire-world-banner h1 {
    font-size: 25px;
} 
.hire-world-banner p {
    font-size: 13px;
    padding: 7px;
}
.hire-world-text {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px !important;
    background-color: #fff !important;
    padding: 20px !important;
    margin: 9px !important;
}
/*hire-middle-east*/
.hire-text-learn {
    padding: 20px;
}
.profile-content {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
}

/*how-find-work*/
.bmd-layout img {
    display: block;
    margin: 0 auto;
}
.bmd-layout h5 {
    text-align: center;
}

/*freelance-world-wide*/
.find-world-banner-content {
    text-align: center;
    padding: 10px;
    color: #212529;
}
/*freelance-gcc*/
.gcc-world-banner h1 {
    font-size: 20px;
}
.gcc-world-banner .hire-world-banner-content {
    text-align: center;
    padding-top: 1px;
    color: #fff;
}
.gcc-world-banner h5 {
    position: relative;
    bottom: 16px;
}
/*articles*/
.articles {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px !important;

    padding: 15px;
}

.articles-btn {
  
    border-right: 0px solid #ccc;
    padding: 15px;
}

/*BSW’s-level-system*/

.bsw-layout-content {
    position: absolute;
    right: 38px;
    padding-top: 30px;
    color: #fff;
    /* top: 50px; */
    padding-left: 30px;
}
.bmd-layout.pt-3 {
    padding: 25px;
}
.bmd-layout.pt-3 h4 {
    text-align: center;
}
.collapsible-list button {
    border-radius: 10px !important;
    margin-bottom: 10px !important;
    color: #fff;
    background-color: #184d47;
    padding: 10px;
}
/*BSAS-certified-project*/
.Project-Description {
    padding: 17px 27px 17px 27px;
}
   /*about page */
   .row.mt-4 {
    padding: 20px;
}
   .boxes {
    padding: 10px;
   
    display: inline-block;
}
   .core-section .section-title {
    line-height: 40px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 0px;
    color: #282828;
}
  .box-content {
    width: 290px;
    padding: 7px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px !important;
    background-color: #fff;
    margin-bottom: 15px;
}
.about-section-title {
    text-align: left;
    padding: 5px;
}
.core-section {
    padding: 0px;
}
.card-r {
    box-shadow: 0 15px 38px 0 rgb(0 0 0 / 10%);
    border-radius: 14px !important;
    background-color: #fff;
    margin-bottom: 20px;
}
.card-r img {
    width: 100%;
  
    padding: 14px;
}

/*Investor Relations*/
.Investor-banner-content {
    position: absolute;
    color: #0a989c;
    right: 41px;
    padding-top: 4rem;
    text-align: center;
}

/* login page */
.user-form-content .p-4 {
    padding: 5px !important;
}
.sign-layout a {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}
label.mobile {
    font-size: 12px;
}

/*smartProrating*/

.productrating-layout {
    background-image: url(../images/smartpro-products.jpeg);
    height: 900px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.productrating-layout  .patner-trs {
    background-color: transparent !important;
    background: linear-gradient( 
180deg
 , rgba(17, 7, 59, 0.7254901960784313) 0%, rgba(16, 8, 58, 0.611764705882353) 100%) !important;
    height: 900px !important;
    padding: 8px 0px;
}

.productrating-layout .row.mt-3 {
    padding: 0px 15px !important;
}

.productrating-layout .productrating-content {
    padding-top: 20px;
}
.productrating-layout p {
    padding: 0 15px !important;
}
  .mobile-smartpro .row {
    padding: 0px 10px;
}
   
  /*about-smartpro */
   .img-fluid.product5-img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 16px;
}
  /*trust-safety */
   .trust-safety-banner {
    position: absolute;
    color: #fff;
    right: 24px;
    /* bottom: -8px; */
    padding-top: 30px;
    text-align: center;
}
/*careers*/

.careers-banner {
    text-align: center;
    padding-top: 0px;
    color: #000;
}
.careers-banner h1 {
    font-size: 32px;
}

.careers-join {
padding: 0px 10px 30px 10px;
}
.mobile-careers p {
    padding: 0 15px;
}

.mobile-careers h4{
    text-align:center;
}
/*partnering*/
.patner-content {
       color: #fff;
    /* text-align: end; */
    position: absolute;
    right: 16px;
    top: 170px;
    padding-left: 22px;
}
.patner-content h4 {
    text-align: center;
}

.row.patner-shop-layout .patner-trs {
    background-color: transparent !important;
    background: linear-gradient( 
180deg
 , rgba(17, 7, 59, 0.7254901960784313) 0%, rgba(16, 8, 58, 0.611764705882353) 100%) !important;
    height: 500px !important;
    padding: 8px 0px;
}
   /*basa-rating*/
  .mobile-basa-rating-text {
    position: relative;
    bottom: 27px;
}
.mobile-basa-rating {
    padding: 0 15px !important;
}
   
   
   
   
   
   
   
   
   
   
   
   
   
   
    }
    


    